	* {
		box-sizing: border-box;
	}


	h2 {
		text-align: center;
		margin-bottom: 50px;
		color: #333;
		font-family: 'Muli', sans-serif;
	}



	/* form starting stylings ------------------------------- */
	.group {
		position: relative;
		margin-bottom: 35px;
	}

	input {
		font-size: 18px;
		padding: 5px 10px 10px 5px;
		display: block;
		width: 100%;
		border: none;
		border-bottom: 1px solid #333;
		background: transparent;
	}

		input:focus {
			outline: none;
			/* color: #03A9F4; */
		}

	/* LABEL ======================================= */
	label {
		color: #333;
		font-size: 16px;
		font-weight: normal;
		position: absolute;
		/*pointer-events: none;*/
		left: 5px;
		top: 10px;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
		font-family: 'Muli', sans-serif;
	}

	/* active state */
	input:focus ~ label, input:valid ~ label {
		top: -20px;
		font-size: 14px;
		color: #A29090;
		font-weight: bold;
	}

	/* BOTTOM BARS ================================= */
	.bar {
		position: relative;
		display: block;
		width: 100%;
	}

		.bar:before, .bar:after {
			content: '';
			height: 2px;
			width: 0;
			bottom: 1px;
			position: absolute;
			background: #333;
			transition: 0.2s ease all;
			-moz-transition: 0.2s ease all;
			-webkit-transition: 0.2s ease all;
		}

		.bar:before {
			left: 50%;
		}

		.bar:after {
			right: 50%;
		}



	/* active state */
	input:focus ~ .bar:before, input:focus ~ .bar:after {
		width: 50%;
	}

	/* HIGHLIGHTER ================================== */
	.highlight {
		position: absolute;
		height: 60%;
		width: 100px;
		top: 25%;
		left: 0;
		pointer-events: none;
		opacity: 0.5;
	}

	/* active state */
	input:focus ~ .highlight {
		-webkit-animation: inputHighlighter 0.3s ease;
		-moz-animation: inputHighlighter 0.3s ease;
		animation: inputHighlighter 0.3s ease;
	}

	/* ANIMATIONS ================ */
	@-webkit-keyframes inputHighlighter {
		from {
			background: #333;
		}

		to {
			width: 0;
			background: transparent;
		}
	}

	@-moz-keyframes inputHighlighter {
		from {
			background: #333;
		}

		to {
			width: 0;
			background: transparent;
		}
	}

	@keyframes inputHighlighter {
		from {
			background: #333;
		}

		to {
			width: 0;
			background: transparent;
		}
	}


	#panel {
		
	/* background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); */
		
	/* background: url(img/bg.jpg); */ /* For browsers that do not support gradients */
		
	top: 0px;
		
	padding:0 50px;
		
	/* border: 1px solid #333; */
	}


	/* custom CSS */
	.heading
	{
		margin-bottom:0;
		margin-top:20px;
	}

	.left{
		
		margin-left:15px;
	}
	.padding-15
	{
		padding:0 15px;
	}
	.padding-50
	{
		padding: 0 70px;
	}
	.plus-line
	{
		float:right;
		cursor:pointer;
		display:block;
		z-index:999;
		border: 1px solid #333;
		border-radius: 50px;
		padding: 5px;
		border-color: #29B6F6;
	}
	.sameasowner
	{
		margin-top: 47px;
		float: right;
	}

	.ownerradio
	{
		margin-top: 47px;
		float: right;
	}

	.submit-btn
	{
		float:right;
		border-radius:0;
		background: #03A9F4;
		padding:10px 25px;
		border-color: #03A9F4;
		width: 20%;
	}
	.main-bg
	{
	height:100%;
	width:100%;
	background:url(img/thankyoubg.jpg);
	background-position:top center;
	background-size:cover;
	background-repeat:no-repeat;
	display:block;
	}	

	.top-20
	{
		margin-top:20px;
	}
	
	
	
	
	
.imageuploadify {
    border: 2px dashed #d2d2d2;
    position: relative;
    min-height: 350px;
    min-width: 250px;
    max-width: 100%;
    margin: auto;
    display: flex;
    padding: 0;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    color: #3AA0FF
}

.imageuploadify .imageuploadify-overlay {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    display: none;
    font-size: 7em;
    background-color: rgba(242, 242, 242, .7);
    text-align: center;
    pointer-events: none
}

.imageuploadify .imageuploadify-overlay i {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none
}

.imageuploadify .imageuploadify-images-list {
    display: inline-block
}

.imageuploadify .imageuploadify-images-list i {
    display: block;
    font-size: 7em;
    text-align: center;
    margin-top: .5em;
    padding-bottom: 12px
}

.imageuploadify .imageuploadify-images-list span.imageuploadify-message {
    font-size: 24px;
    border-top: 1px solid #3AA0FF;
    border-bottom: 1px solid #3AA0FF;
    padding: 10px;
    display: inline-block
}

.imageuploadify .imageuploadify-images-list button.btn-default {
    display: block;
    color: #3AA0FF;
    border-color: #3AA0FF;
    border-radius: 0;
    margin: 25px auto;
    width: 100%;
    max-width: 500px
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
    float: left;
    border-radius: 12px;
    box-shadow: 0 0 4px 0 #888
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container button.btn-danger {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    font-size: 10px;
    line-height: 1.42;
    padding: 2px 0;
    text-align: center;
    z-index: 3
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container img {
    height: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container .imageuploadify-details {
    position: absolute;
    top: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(255, 255, 255, .5);
    z-index: 2;
    opacity: 0
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container .imageuploadify-details span {
    display: block
}

.mag-top-35
{
	margin-top:30px;
}

#registerForm .has-error .control-label,
#registerForm .has-error .help-block,
#registerForm .has-error .form-control-feedback {
    color: #a94442;
    font-size: 13px;
    font-weight: 700;
}

#registerForm .has-success .control-label,
#registerForm .has-success .help-block,
#registerForm .has-success .form-control-feedback {
    color: #0083c1;
}

.h3style
{
	width:60%;
	font-size:24px;
	border-style: solid;
	border-width:0 5px 3px 0;
	border-color: white white #A29090 white;
}

.radiolabel
{
	color:#333 !important; 
	float: right;
	margin-left: 15px;
	margin-top: 20px;
}
.radioposition
{
	margin-left: -95px !important;
	float: left;
	position: absolute; 
}
.radiodiv
{
	padding: 0 30px 0 0;
	margin-top: 30px;
	margin-left: 0px;
}